@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #ced4da;
}

::-webkit-scrollbar-thumb{
  background: #000000;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(133, 5, 5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard {
  height: 89vh;
}

.add-txt {
  font-size: 40px !important;
  height: 72px;
  width: 72px;
}

.regis {
  cursor: pointer;
}

.regis:hover{
  color: #b02a37;
}

.color-INCOME {
  color: #65C18C;
}

.color-EXPANSES{
  color: #FF6363;
}

.overflow {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.btn-login {
  color: #22577A;
  background-color: transparent;
  border: none;
  border-radius: 12px;
  padding: 6px 18px;
}

.btn-register {
  color: #22577A;
  background-color: #C7F9CC;
  border: 1px solid #67aa6e;
  border-radius: 12px;
  padding: 6px 18px;
}

.jumbotron {
  height: 84vh;
}

.jumbotron-2 {
  height: 89vh;
}

.jumbotron-3 {
  height: 80vh;
}

.inputAuth {
  background-color:#C7F9CC;
  border: 1px solid #67aa6e;
  border-radius: 12px;
}

.border-light {
  border-color: #dddddd !important;
}

.btn-input {
  color: #ffffff;
  background-color: #38A3A5;
  border: 1px solid #000000;
  padding: 8px 18px;
  border-radius: 12px;
}

.btn-input:hover{
  color: #ffffff;
  background-color: #084a4b;
  border: 1px solid #000000;
}